@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.product-card {
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
} 
.product-image {
  width: 100%;
  height: 100%;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.product-info {
  padding: 10px;
}

.product-details {
  margin-bottom: 10px;
  display: inline;
  align-items: right;
}

.product-details ul {
  list-style: none;
  padding: 0;
}

.product-details li {
  margin-bottom: 5px;
}

.product-actions {
  text-align: center;
  display: flex ;
}

.product-card {
  display: flex;
  flex-direction: row;
}

.product-image {
  flex: 1;
}

.product-info {
  flex: 2;
}


button{
  background-color: green;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  margin: 10px;
  border-radius: 10px;
}
.vertical {
  border-left: 2px solid black;
  height: 75%;
  position:absolute;
  left: 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.green1 {
  background-image: linear-gradient(to right, #48b760, #6bb748);
}

/* Tailwind Styles */

/* Nav */

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-even {
  @apply flex justify-evenly items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.outline_btn {
  @apply rounded-full w-28 h-12 green1 py-1.5 px-5 text-white transition-all hover:bg-white font-bold font-sans text-center text-sm flex items-center justify-center;
}

.form_input {
}

.form_textarea {
}

/* Hero */
.head_text {
  @apply mt-5 ml-5 text-9xl font-extrabold leading-[1.15] text-green-600 sm:text-9xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.custom_farm_style {
  @apply mt-5 text-9xl font-extrabold leading-[1.15] text-black sm:text-7xl;
}

.message1 {
  @apply mt-5 ml-5 text-base text-gray-600;
}

.message2 {
  @apply mt-2 ml-5 text-base text-gray-950;
}

.explore_btn {
  @apply mt-4 ml-5 rounded-full w-40 h-12 green1 py-1.5 px-5 text-white transition-all hover:bg-white font-bold font-sans text-center text-sm flex items-center justify-center;
}

.img_1 {
}

/* PostCard */
.post_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
